# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Scratch & Temporary files
scratch/
.temp/
*.log
*.tmp

# Operating System
.DS_Store
Thumbs.db
Desktop.ini

# Editors & IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
